body 
{
    background-color: bleu#0065FC ;
}

p
{
    font-family: raleway; 
}   

.header ul
{
    list-style: none;
}

.header ul li 
{
    float:left; 
    margin-right: 20px;
}

.header .top
{
    display: flex;
    justify-content: space-between;
}

.header .couleur
{
    background-color: #1973fc;
}

.header .filtres
{
    display: flex;
    justify-content: flex-start;
}

.hebergement
{
    width: 33%;
    height: auto;
}

.hebergements
{
    display: flex;
    flex-wrap: wrap;
}

.hebergement img
{
    max-width: 33%;
    max-height: auto;
}
