body 
{
    background-color: bleu#0065FC ;
}

p
{
    font-family: raleway; 
}   

.header ul
{
    list-style: none;
}

.header ul li 
{
    float:left; 
    margin-right: 20px;
}

.header ul
{
    display: flex;
    justify-content: flex-end;
}
